body 
{
    background-color: cornflowerblue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0;
    padding: 10;

   #container
   {
        width: 20;
        margin: 10;
        padding: 15;
        border-color: rgb(212, 148, 52);
        border-style:solid;
        background-color: rgb(247, 217, 188);

   }

   /* #info 
   {
     display: flex;
  justify-content: left;
        width: 2;
        margin: 5;
        padding: 10;
        border-color: rgb(156, 93, 10);
        background-color: rgb(233, 188, 138);
        border-style:solid;
        
   }

   #book
   {
     display: flex;
     justify-content: center; 
     gap: 40px; 
     margin: 20px auto;
     flex-wrap: wrap; 
        
      /* width: 2;
     margin: 5;
     padding: 10; */
      border-color: rgb(197, 122, 37);
     background-color: rgb(236, 189, 126);
     border-style:solid; 
   } 


   #profile {
     display: flex;
     justify-content: center;
     gap: 40px; 
     margin: 20px auto;
     flex-wrap: wrap; 
   }
   
   #info, #book {
     width: 300px;
     padding: 10px;
     background-color: white;
     border-radius: 8px;
     box-shadow: 0 0 10px rgba(0,0,0,0.1);
     border-color: rgb(197, 122, 37);
     background-color: rgb(236, 189, 126);
     border-style:solid; 
   }

 
}